.product-list-container {
    background-color: #c8c8c8;
    width: 100%;
}

.products-container{
    max-width: 1200px;
    width: 95%;
    padding: 5rem 0;
    margin: 0 auto;
}

.bg-white{
    background-color: #FFF;
}